<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="userAuth.css">
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>
  <body>
    <div class="header">
      <a href=#>Sample Name</a>
    </div>
    <div class="small-bars">
      <div class="small-bar"></div>
      <div class="small-bar"></div>
    </div>
    <div class="main-content">
      <div class="login-container">
        <div class="login-header">
          <div class="login-tab">Login</div>
          <div class="signup-tab">Sign-up</div>
        </div>
        <input type="text" placeholder="Enter your email" class="input-field">
        <button class="continue-button">continue</button>
        <p class="toc-text">by continuing you agree to our <a href="#">TOC</a></p>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
